#container{
    margin:0 auto;
    width:1200px;
    min-height:100px;

}
#content{
    width:960px;
    border:1px solid #ddd;
    background-color:#fff;
    margin:105px 0 55px 120px;
}
.article-box{
    width:640px;
    margin:0 auto;
}
/*文章头部样式*/
.article-box>.article-header{
    padding:60px 0;
}
.article-header>h1{
    font-weight:300;
    font-size:36px;
}
.article-header>div{
    padding-bottom: 40px;
    margin-top: 25px;
    border-bottom:1px solid #eee;
}
.article-header span{
    margin-left:250px;
}
/*文章主体内容*/
.article-content{
    line-height:2;
    padding-bottom:90px;
    min-height:200px;
    /*border:1px solid #000;*/
}